<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <h1>Details Of Book</h1>
 <section>
                 
                 <img src="<%=books.image%>">
                 <h2><%=books.title%></h2>
                 <h3><%books.auther%></h3>
                 <h6><%=books.isbn%></h6>
                 <p><%=books.description%></p>
                   
 </section>

</body>
</html>
